* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cantainer {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.card-grid {
  bisplay: flex;
  flex-direction: column;
  gap: 20px;
}
/* 모바일 우선 */

.card {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* 2duf 그리드 */
@media (,mon-width: 767px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Desltop 3열 그리드 */
@media (min-width: 1023px) {
  card-grid {
    display: grid;
    rid-template-columns: repeat(3, 1fr);
  }
}
